::selection {
  background: #ec0;
  color: mediumblue;
}

:any-link {
  box-shadow: 0 0 2em 1em skyblue;
  background: skyblue;
  color: indigo;
}

.slinky {
  box-shadow: 0 0 2em 1em hotpink;
  background: hotpink;
}

.lively {
  box-shadow: 0 0 2em 1em coral;
  background: coral;
}

.learny {
  box-shadow: 0 0 2em 1em #ed3;
  background: #ed3;
}

.goophy {
  box-shadow: 0 0 2em 1em indigo;
  background: indigo;
  color: salmon;
}

:any-link:hover {
  background: thistle; 
}

:focus {
  filter: hue-rotate(-36deg);
  outline: .382rem dotted;
}

:active {
  filter: hue-rotate(-18deg);
  outline-style: solid;
}

html {
  background: rebeccapurple;
  background-image: linear-gradient(.9turn, turquoise 0%, transparent 20%, slateblue 80%, turquoise);
  color: lavenderblush;
}
